<h3 class="my-5">Kontakt z nami</h3>
<div class="row gx-5">
    <img src="~/Images/Standup meeting-amico.png" class="img-fluid col-5" />
    <div class="col-7">
        <h1>Chcielibyśmy usłyszeć Twoją opinię</h1>
        <h5>
            Aby się z nami skontaktować, wyślij wiadomość e-mail,
            klikając poniższy przycisk.
        </h5>
        <email address="rafal.maka.it@@gmail.com"
            content="kontakt z nami" class="btn btn-primary"></email>

    </div>
</div>
<div>
   <strong>Data i godzina. Format domyslny.</strong>
   <current-date-time></current-date-time>
</div>
<div>
    <strong>Tylko Data</strong>
    <current-date-time date-format="yyyy-MM-dd"></current-date-time>
</div>
<div>
    <strong>Tylko Godzina[Format 24 godzinny]</strong>
    <current-date-time date-format="HH:mm:ss"></current-date-time>
</div>
<div>
    <strong>Tylko Godzina[Format 12 godzinny]</strong>
    <current-date-time date-format="hh:mm:ss tt"></current-date-time>
</div>
<div>
    <strong>Pełna nazwa dnia i data</strong>
    <current-date-time date-format="dddd, dd MMMM yyyy"></current-date-time>
</div>
<div>
    <strong>Niepoprawny format - domyślny komunikat</strong>
    <current-date-time date-format="XYZ"></current-date-time>
</div>
