<h3 class="my-5">Kontakt z nami</h3>
<div class="row gx-5">
    <img src="~/Images/Standup meeting-amico.png" class="img-fluid col-5" />
    <div class="col-7">
        <h1>Chcielibyśmy usłyszeć Twoją opinię</h1>
        <h5>
            Aby się z nami skontaktować, wyślij wiadomość e-mail,
            klikając poniższy przycisk.
        </h5>
        <email address="rafal.maka.it@@gmail.com"
            content="kontakt z nami" class="btn btn-primary"></email>

    </div>
</div>

