@model IndexViewModel

<div class="text-center mt-5">
    <h3>@Model.CtaTitle</h3>
    <p class="lead">@Model.CtaText</p>
    <a href="/Home/Contact" class="btn btn-success btn-lg">Wyślij zapytanie</a>
</div>
