@model IndexViewModel

<div class="row text-center mb-5">
    @foreach (var service in Model.Services)
    {
        <div class="col-md-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">@service.Title</h5>
                    <p class="card-text">@service.Description</p>
                </div>
            </div>
        </div>

    }
</div>

