@model ProductListViewModel
@{
    ViewData["Title"] = "Lista produktów";
}


<div class="row mb-4">
    <div class="col">
        <h1 class="display-4 mb-4">
            @Model.CurrentCategory
        </h1>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    @foreach (var product in Model.Products)
    {
       <partial name="_ProductCard"  model = "product"/>
    }
</div>
@* <script>
    $(document).ready(function() {
        //efekt animacji przy najechaniu na kartę produktu
       $('.card').hover(
           function() {
               $(this).addClass('shadow-lg').css('transition', 'all 0.3s');
           },
           function() {
               $(this).remoweClass('shadow-lg').css('transition', 'all 0.3s');
           }
       );
       //obsłua przycisku dodaj do koszyka
       $('.btn-outline-primary').click(function(){
           alert('Produkt dodany do koszyka')
       });
    });
</script> *@
<script>
    $(document).ready(function() {
        // Efekt animacji przy najechaniu na kartę produktu
        $('.card').hover(
            function() {
                $(this).addClass('shadow-lg').css('transition', 'all 0.3s');
            },
            function() {
                $(this).removeClass('shadow-lg').css('transition', 'all 0.3s');
            }
        );

        // Obsługa przycisku "Dodaj do koszyka"
        $('.btn-outline-primary').click(function() {
            alert('Produkt został dodany do koszyka!');
        });
    });
</script>