@model IndexViewModel
@{
    ViewData["Title"] = "Strona główna";
}

<div class="container mt-5">
    <!-- Hero Section -->
    <partial name="_Hero" model="Model" />

    <!-- O nas -->
    <partial name="_About" model="Model" />

    <!-- Usługi -->
    <partial name="_Services" model="Model" />

    <!-- Produkty tygodnia -->

    <div class="row text-center mb-5">
        @foreach (var product in Model.ProductsOfTheWeek)
        {
            <partial name="_ProductCard" model="product" />
        }
    </div>

    <!-- CTA -->
    <partial name="_Cta" model="Model" />
</div>
